<nav class="navbar has-background-success">
  <div class="navbar-brand">
    <a class="has-text-white" href="/">
      <img src="images/sakanatsuritai_logo.png" width="128" height="128"/>
    </a>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <a href="#" class='button is-dark'>
        ログイン
      </a>
    </div>
    <div class="navbar-item">
      <a href="#" class='button is-danger'>
        新規会員登録
      </a>
    </div>
  </div>
</nav>
