<!DOCTYPE html>
<html>
  <head>
    <title>サカナツリタイ</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include shared/_header %>
    <%- body %>
  </body>
</html>
