<!DOCTYPE html>
<html>
  <head>
    <title>サカナツリタイ</title>
    <link rel='stylesheet' type="text/x-scss" href='/stylesheets/style.scss' />
  </head>
  <body>
    <% include shared/_header %>
    <%- body %>
  </body>
</html>
