<!DOCTYPE html>
<html>
  <head>
    <title>サカナツリタイ</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="main has-background-light">
    <% include shared/_header %>
    <section class="section">
      <div class="container">
        <%- body %>
      </div>
    </section>
  </body>
</html>
