<form action=<%= `/fishingspots/${fishingspot.id}?_method=PUT` %> method="post">
  <div class="field">
    <label class="label">釣り場名</label>
    <div class="control">
      <input class="input" type="text" name="name" value=<%= `${fishingspot.name}` %> placeholder="釣り場の名前を入力">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button type="submit" class="button is-danger">送信</button>
    </div>
  </div>
</form>