<form action=<%= `/users/${user.id}?_method=PUT` %> method="post">
  <div class="field">
    <label class="label">メールアドレス</label>
    <div class="control">
      <input class="input" type="text" name="email" value=<%= `${user.email}` %> placeholder="メールアドレスを入力">
    </div>
  <div class="field">
    <label class="label">姓</label>
    <div class="control">
      <input class="input" type="text" name="last_name" value=<%= `${user.last_name}` %> placeholder="姓を入力">
    </div>
    <label class="label">名</label>
    <div class="control">
      <input class="input" type="text" name="first_name" value=<%= `${user.first_name}` %> placeholder="名を入力">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button type="submit" class="button is-danger">送信</button>
    </div>
  </div>
</form>