<section>
  <div class="tile is-ancestor">
    <div class="tile is-parent is-6">
      <div class="tile is-child box">
        <a href="/">
          現在地から記録する
        </a>
      </div>
    </div>
    <div class="tile is-parent is-6">
      <div class="tile is-child box">
        <a href="/">
          釣り場から記録をする
        </a>
      </div>
    </div>
  </div>
  <div class="tile is-ancestor">
    <div class="tile is-parent is-4">
      <div class="tile is-child box">
        <a href="/fishes">
          魚を管理する
        </a>
      </div>
    </div>
    <div class="tile is-parent is-4">
      <div class="tile is-child box">
        <a href="/fishingSpots">
          釣り場を管理する
        </a>
      </div>
    </div>
    <div class="tile is-parent is-4">
      <div class="tile is-child box">
        <a href="/users">
          ユーザを管理する
        </a>
      </div>
    </div>
  </div>
</section>