<form action="/login" method="post">
  <div class="field">
    <label class="label">メールアドレス</label>
    <div class="control">
      <input class="input" type="text" name="username" placeholder="メールアドレスを入力">
    </div>
  </div>
  <div class="field">
    <label class="label">パスワード</label>
    <div class="control">
      <input class="input" type="password" name="password" placeholder="パスワードを入力">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button type="submit" class="button is-danger">送信</button>
    </div>
  </div>
</form>